/*
-- PALETA --
#FC7300: Naranja fuerte
#1F8A70: Aguamarina medio
#00425A: Azul Navy claro
#181823: Azul/Violeta oscuro desaturado
#EFF5F5: Casi Blanco
*/


p {
  font-family: "Poppins", sans-serif;
  color: #eff5f5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Belanosima", sans-serif;
  color: #fc7300 !important;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #1f8a70 !important;
}

nav a {
  color: #eff5f5 !important;
  font-family: "Poppins", sans-serif;
}

nav a:hover {
  color: #181823 !important;
}

header{
    position: relative;
    text-align: center;
}

header img {
  width: 100%;
  z-index: 1;
  opacity: 0.8;
  filter: blur(5px);
}

header h1 {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  -webkit-text-stroke: 2px #181823;
  text-shadow: 2px 2px 8px #181823; /* Text shadow */ 
  padding: 0;
  margin: 0;
  text-align: center;
}

section {
  padding: 3.5em 0 2em 1em;
  padding-top: 3.5em;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}

.fdivs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.par {
  background-color: #181823;
}

.impar {
  background-color: #00425a;
}

footer a {
  font-family: "Poppins", sans-serif;
  color: #eff5f5;
  text-decoration: none;
}

footer a:hover {
  color: #fc7300;
}

.special {
  position: fixed;
  bottom: 5%;
  right: 1%;
  width: 5%;
  background-color: #181823;
  color: #eff5f5;
  text-align: center;
  text-decoration: none;
  z-index: 9999;
}

/* Media Query for 768px resolution */
@media (max-width: 768px) {
    /* Modify styles here for 768px resolution */
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    header h1 {
      font-size: 3em;
    }
    iframe{
        display: none;
    }
  }

  /* Media Query for 320px resolution */
  @media (max-width: 320px) {
    /* Modify styles here for 320px resolution */
    header h1 {
      font-size: 2em;
    }

    .special {
      font-size: 0.8em;
      width: 10%;
    }

    