body {
  background-color: #181823;
}

h2 {
  padding: 0.5em 0 0 0.5em;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #00425a;
  padding: 2em;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  margin: 2em;
}

label {
  display: block;
  color: #1f8a70;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;

  margin-bottom: 0.5em;
  border: 1px solid #1f8a70;
  border-radius: 5px;
  background-color: #181823;
  color: #eff5f5;
  resize: none;
}

textarea {
  height: 150px;
}

button {
  background-color: #181823;
  border: 1px solid #1f8a70;
  border-radius: 5px;
  color: #1f8a70;
  font-family: "Belanosima", sans-serif;
  padding: 0.7em 0.5em;
}

button:hover {
  background-color: #00425a;
  color: #181823;
}
